.profile-avatar-option {
    transition: all 0.2s ease;
    padding: 3px;
    border-radius: 50%;
}

    .profile-avatar-option:hover {
        transform: scale(1.1);
        box-shadow: 0 0 8px rgba(var(--mud-palette-primary-rgb), 0.5);
    }

    .profile-avatar-option.selected {
        border: 2px solid var(--mud-palette-primary);
    }
